<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pi Art – Urban Show & Fire Show {% endblock %}</title>

  <!-- SEO -->
  <meta name="description" content="Pi Art – oficjalna strona grupy artystycznej. Urban show, fire show, art design i kreatywne projekty." />
  <meta name="author" content="Pi Art" />

  <!-- Open Graph (social media preview) -->
  <meta property="og:title" content="Pi Art – Urban Show & Fire Show" />
  <meta property="og:description" content="Oficjalna strona grupy Pi Art. Performance, design i artystyczne widowiska." />
  <meta property="og:image" content="" />.    <!--PAMIETAC O TYM MIEJSCU-->
  <meta property="og:url" content="" />.      <!--pAMIETAC O TYM MIEJSCU-->
  <meta property="og:type" content="website" />

  <!-- Google Fonts (Roboto) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- własny CSS (umieszczony w static/) -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="container">
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('fireshow') }}">Fire</a></li>
        <li><a href="{{ url_for('lightshow') }}">Light</a></li>
        <li><a href="{{ url_for('lasershow') }}">Laser</a></li>
        <li><a href="{{ url_for('ilusionist') }}">Ilusionist</a></li>
        <li><a href="{{ url_for('aerial') }}">Aerial</a></li>
        <li><a href="{{ url_for('inne') }}">Inne</a></li>
      </ul>
    </nav>
  </header>
</div>
    
</body>
</html>